

/* Header section */
.header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}

.header_left{
    width: 50%;
    
}

.features{
    display: flex;
    flex-wrap: wrap;
    /* width: 100%; */
}
.features div{
    width: 50%;
}


@media only screen and (max-width: 600px) {

    .header_left{
        width: 100%;
        
    }
    .header_right img{
        width: 100%;
        display: block;
        margin: 0px auto;
    }

    .features div{
        width: 100%;
    }
    
}